/* Seletor por elemento */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Seletor por classe */
.titulo {
    font-family: 'Georgia', serif;
    color: #003366;
}

/* Seletor por ID */
#perfil {
    text-align: center;
    border: 2px solid #003366;
    padding: 10px;
}

/* Seletor por atributo */
a[target="_blank"] {
    color: #0066cc;
    text-decoration: none;
}

/* Pseudo-classe */
a:hover {
    color: #ff6600;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #b6c0d9;
}

h1, h2 {
    font-family: 'Arial', serif;
    font-weight: bold;
    font-style: italic;
}
/* Centraliza a imagem pelo ID */
#foto-perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Ajuste o tamanho conforme necessário */
}
h2 {
    background-color: #003366; /* Cor de fundo da barra */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Ajusta o espaço ao redor do texto */
    margin: 0; /* Remove margens extras */
    display: inline-block; /*Fundo somente no título */
    font-style: italic; /* Estilo itálico */
}
